<div class="se">
<form action="">
        <p id="se">Search Your Github Account<br>
            Here!</p>
    <div class="form-group">
            
        <input type="text" class="form-control" placeholder="search username"[(ngModel)]="username" name="username"
        (keyup)="findProfile()">
    </div>
    
</form>

 <div class="container">
<div *ngIf="profile">
<div class="row">
   
            <div class="col-md-3">
                <img src="{{profile.avatar_url}}" width="200px" height="200px" alt="Profile Image">
            </div>
          <div class="col-md-4">
             
        profile name: {{profile.name}} <br>
        {{profile.login}}
        <span *ngIf="profile.company">, Works at {{profile.company}}</span><br>
        location: {{profile.location}}
            
    
               <ul >
                    <li *ngIf="profile.bio">{{profile.bio}}</li>
                    <li *ngIf="profile.hireable">Available for hire</li>
                   <li *ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></li> 
                    <li *ngIf="profile.email"><a href="emailto:{{profile.email}}">{{profile.email}}</a></li>
                </ul>
    </div>
            <div class="col-md-5">
               
                    <p id="bac">
                        <span id="bu">{{profile.followers}} Followers </span>
                        <span id="ye">  Following {{profile.following}} </span>
                        <span id="ge"> {{profile.public_gists}} public gists </span>
                        <span id="co"> {{profile.public_repos}} Public Repos </span>
                        
                    </p>
                </div>
                </div>
                  <p><a href="{{profile.html_url}}" target="_blank" >View profile on github</a></p>
                    <div>
                        <div >
                            <h3>Repos</h3>
                        </div>
                        <div *ngFor="let repo of repos">
                        <p>
                           {{repo.name}} <a href="{{repo.html_url}}" target="_blank" >View this project on github</a>
                          
                        </p>
                        <p>{{repo.description}}</p>        
                        </div>
                    </div>
                
                </div>            
        
  
</div>


